@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  padding: 0px;
  margin: 0px; }

h4 {
  margin: 0px;
  padding: 0px;
  font-weight: 400; }

#navBar {
  background-color: white;
  box-shadow: 0px 0px 5px silver;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px 20px;
  position: fixed;
  width: 100vw;
  z-index: 1000; }
  #navBar > div {
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (min-width: 600px) {
      #navBar > div {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    #navBar > div > #gobAr {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 150px; }
      #navBar > div > #gobAr > img {
        width: 100%; }
    #navBar > div > #acercaDe {
      display: none; }
      @media screen and (min-width: 600px) {
        #navBar > div > #acercaDe {
          display: block;
          border-radius: 10px;
          color: #0094D4;
          font-size: 1.2rem;
          font-weight: 400;
          padding: 10px;
          position: relative;
          right: -10px;
          text-decoration: none; } }
      #navBar > div > #acercaDe:hover {
        background-color: rgba(0, 0, 0, 0.1); }

.sectionContent {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 100%;
  width: 100%; }

.encabezado {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 10px;
  width: 100%;
  z-index: 50; }
  @media screen and (min-width: 600px) {
    .encabezado {
      padding: 0px 20px;
      margin: 0px 0px 40px 0px; } }
  .encabezado > h2 {
    color: #4d4d4d;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
    max-width: 900px;
    padding: 0px;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .encabezado > h2 {
        font-size: 2.5rem; } }
    @media screen and (min-width: 768px) {
      .encabezado > h2 {
        font-size: 3.5rem; } }
  .encabezado > p {
    color: #4d4d4d;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    margin: auto;
    max-width: 900px;
    padding: 0px;
    width: 100%;
    line-height: 20px; }
    @media screen and (min-width: 600px) {
      .encabezado > p {
        font-size: 1.5rem;
        padding: 10px 0px 0px 0px;
        line-height: 36px; } }
    @media screen and (min-width: 768px) {
      .encabezado > p {
        font-size: 2rem; } }

#section1 .encabezado {
  background-color: white;
  box-shadow: 0px 0px 5px silver;
  padding: 10px 10px; }
  @media screen and (min-width: 600px) {
    #section1 .encabezado {
      background-color: transparent;
      box-shadow: none;
      padding: 0px 20px; } }
  @media screen and (min-width: 600px) {
    #section1 .encabezado h2 {
      color: #009DDB; } }

#section3 .encabezado {
  margin: 0px; }

#section1 .sectionContent #radiationContent #sectionDer > div, #section2 .sectionContent > div, #section1 .sectionContent #radiationContent #sectionDer > section, #section2 .sectionContent > section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 10px; }
  #section1 .sectionContent #radiationContent #sectionDer > div > header > h3, #section2 .sectionContent > div > header > h3, #section1 .sectionContent #radiationContent #sectionDer > section > header > h3, #section2 .sectionContent > section > header > h3 {
    padding: 0px;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 10px; }

#section1 .sectionContent #radiationContent #sectionDer #containerFor, #section2 .sectionContent #containerFor {
  height: 25%;
  background-color: silver;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-sizing: border-box; }
  #section1 .sectionContent #radiationContent #sectionDer #containerFor #forecast, #section2 .sectionContent #containerFor #forecast {
    padding: 0px;
    height: 100%;
    max-height: 80px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    #section1 .sectionContent #radiationContent #sectionDer #containerFor #forecast .divPronostic, #section2 .sectionContent #containerFor #forecast .divPronostic {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%; }
      #section1 .sectionContent #radiationContent #sectionDer #containerFor #forecast .divPronostic .pronostico_horario, #section2 .sectionContent #containerFor #forecast .divPronostic .pronostico_horario {
        font-size: 1.5rem;
        color: black;
        font-weight: 300;
        text-align: center; }
      #section1 .sectionContent #radiationContent #sectionDer #containerFor #forecast .divPronostic .pronostico_barra, #section2 .sectionContent #containerFor #forecast .divPronostic .pronostico_barra {
        width: 100%;
        padding: 0px 10px; }
      #section1 .sectionContent #radiationContent #sectionDer #containerFor #forecast .divPronostic .pronostico_estado, #section2 .sectionContent #containerFor #forecast .divPronostic .pronostico_estado {
        font-size: 1.5rem;
        color: black;
        width: 150px;
        text-align: center;
        font-weight: 300; }

#section1 .sectionContent #radiationContent #sectionDer #containerPro, #section2 .sectionContent #containerPro {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  height: 75%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem; }
  #section1 .sectionContent #radiationContent #sectionDer #containerPro header > h3, #section2 .sectionContent #containerPro header > h3 {
    margin: 0px; }
  #section1 .sectionContent #radiationContent #sectionDer #containerPro #protections, #section2 .sectionContent #containerPro #protections {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 65%; }
    #section1 .sectionContent #radiationContent #sectionDer #containerPro #protections > div, #section2 .sectionContent #containerPro #protections > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      height: 100%; }
      #section1 .sectionContent #radiationContent #sectionDer #containerPro #protections > div:nth-child(2) > article > span, #section2 .sectionContent #containerPro #protections > div:nth-child(2) > article > span {
        border-left: 1px solid silver;
        border-right: 1px solid silver; }
      #section1 .sectionContent #radiationContent #sectionDer #containerPro #protections > div > div, #section2 .sectionContent #containerPro #protections > div > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        #section1 .sectionContent #radiationContent #sectionDer #containerPro #protections > div > div .recomendacion, #section2 .sectionContent #containerPro #protections > div > div .recomendacion {
          font-size: 1rem;
          color: silver;
          padding: 0px 1rem;
          text-align: center; }
          @media screen and (min-width: 768px) {
            #section1 .sectionContent #radiationContent #sectionDer #containerPro #protections > div > div .recomendacion, #section2 .sectionContent #containerPro #protections > div > div .recomendacion {
              font-size: 1.4rem;
              line-height: 18px; } }
  #section1 .sectionContent #radiationContent #sectionDer #containerPro > a, #section2 .sectionContent #containerPro > a {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #0094D4;
    text-decoration: none;
    padding: 10px 0px 0px 0px; }

#section1 {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 52px 0px 0px 0px;
  max-height: 900px; }
  #section1 .sectionContent {
    background-image: url("../../img/fondo_1.png");
    background-position: center;
    background-size: cover; }
    #section1 .sectionContent #radiationContent {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      height: 100%;
      width: 100%;
      z-index: 100; }
      @media screen and (min-width: 600px) {
        #section1 .sectionContent #radiationContent {
          max-height: 450px; } }
      #section1 .sectionContent #radiationContent #sectionIzq {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
        width: 100%; }
        @media screen and (min-width: 600px) {
          #section1 .sectionContent #radiationContent #sectionIzq {
            border-radius: 10px;
            max-width: 350px;
            width: 45%; } }
        #section1 .sectionContent #radiationContent #sectionIzq > header {
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          border-bottom: 1px solid white;
          box-sizing: border-box;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding: 10px 0px;
          width: 100%; }
          #section1 .sectionContent #radiationContent #sectionIzq > header #ubication {
            color: white;
            font-weight: 400;
            font-size: 1.2rem;
            text-align: center;
            width: 100%; }
            @media screen and (min-width: 768px) {
              #section1 .sectionContent #radiationContent #sectionIzq > header #ubication {
                font-size: 1.5rem; } }
          #section1 .sectionContent #radiationContent #sectionIzq > header #time {
            border-left: 1px solid white;
            border-right: 1px solid white;
            box-sizing: border-box;
            color: white;
            font-size: 1.2rem;
            font-weight: 100;
            text-align: center;
            width: 100%;
            max-width: 90px; }
            @media screen and (min-width: 768px) {
              #section1 .sectionContent #radiationContent #sectionIzq > header #time {
                font-size: 1.5rem; } }
          #section1 .sectionContent #radiationContent #sectionIzq > header #weather {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
                -ms-flex-direction: row;
                    flex-direction: row;
            text-align: center;
            width: 100%;
            max-width: 90px; }
            #section1 .sectionContent #radiationContent #sectionIzq > header #weather #temp-weather {
              color: white;
              font-weight: 100;
              font-size: 1.2rem;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center; }
              @media screen and (min-width: 768px) {
                #section1 .sectionContent #radiationContent #sectionIzq > header #weather #temp-weather {
                  font-size: 1.5rem; } }
            #section1 .sectionContent #radiationContent #sectionIzq > header #weather #icon-weather {
              background-image: url("../../img/clima.png");
              background-size: cover;
              height: 2rem;
              margin-right: 5px;
              width: 2.34483rem; }
            #section1 .sectionContent #radiationContent #sectionIzq > header #weather .soleado {
              background-position: 0rem 0rem; }
            #section1 .sectionContent #radiationContent #sectionIzq > header #weather .noche {
              background-position: 2.34483rem 0rem; }
            #section1 .sectionContent #radiationContent #sectionIzq > header #weather .tormenta {
              background-position: 4.68966rem 0rem; }
            #section1 .sectionContent #radiationContent #sectionIzq > header #weather .lluvia {
              background-position: 7.03448rem 0rem; }
            #section1 .sectionContent #radiationContent #sectionIzq > header #weather .inestable {
              background-position: 9.37931rem 0rem; }
            #section1 .sectionContent #radiationContent #sectionIzq > header #weather .nublado {
              background-position: 11.72414rem 0rem; }
            #section1 .sectionContent #radiationContent #sectionIzq > header #weather .parcialmente-nublado {
              background-position: 14.06897rem 0rem; }
        #section1 .sectionContent #radiationContent #sectionIzq #radiationUv {
          box-sizing: border-box;
          padding: 0px 20px;
          width: 100%;
          height: 100%;
          max-width: 400px;
          max-height: 60%; }
        #section1 .sectionContent #radiationContent #sectionIzq #containerRecom {
          box-sizing: border-box;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 0px 20px;
          width: 100%; }
          #section1 .sectionContent #radiationContent #sectionIzq #containerRecom #recomendation {
            color: white;
            font-size: 1.5rem;
            text-align: center;
            height: 50px; }
            @media screen and (min-width: 768px) {
              #section1 .sectionContent #radiationContent #sectionIzq #containerRecom #recomendation {
                font-size: 1.8rem; } }
        #section1 .sectionContent #radiationContent #sectionIzq #containerUpdate {
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          border-top: 1px solid white;
          box-sizing: border-box;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding: 10px;
          width: 100%; }
          #section1 .sectionContent #radiationContent #sectionIzq #containerUpdate > i {
            color: white;
            font-size: 2rem;
            margin-right: 1rem; }
          #section1 .sectionContent #radiationContent #sectionIzq #containerUpdate #actualizacion {
            color: white;
            font-size: 1.2rem;
            font-weight: 300;
            text-align: center; }
            @media screen and (min-width: 768px) {
              #section1 .sectionContent #radiationContent #sectionIzq #containerUpdate #actualizacion {
                font-size: 1.5rem; } }
      @media screen and (min-width: 600px) {
        #section1 .sectionContent #radiationContent #sectionDer {
          border-radius: 10px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          max-width: 350px;
          padding-left: 2rem;
          height: 100%;
          width: 45%; } }

#section2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid silver;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  padding-top: 52px;
  position: relative;
  width: 100vw; }
  @media screen and (min-width: 600px) {
    #section2 {
      display: none;
      min-height: inherit;
      height: 600px;
      max-height: 800px; } }

#section3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid silver;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  padding-top: 52px;
  background-image: url("../../img/fondo_2.png");
  background-position: center;
  background-size: cover; }
  @media screen and (min-width: 600px) {
    #section3 {
      max-height: 900px; } }
  #section3 .sectionContent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #section3 .sectionContent #testimonios {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 900px;
      padding: 0px 20px;
      width: 100%; }
      @media screen and (min-width: 600px) {
        #section3 .sectionContent #testimonios {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row; } }
      #section3 .sectionContent #testimonios > div {
        width: 100%;
        max-width: 250px; }
        #section3 .sectionContent #testimonios > div > cite {
          color: #0094D4;
          font-size: 2.4rem; }
        #section3 .sectionContent #testimonios > div > p {
          color: black;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 20px; }

#section4 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid silver;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  padding-top: 52px;
  position: relative;
  width: 100vw; }
  @media screen and (min-width: 600px) {
    #section4 {
      min-height: 600px;
      height: 600px; } }
  #section4 .sectionContent {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    #section4 .sectionContent > .encabezado {
      margin-bottom: 40px; }
    #section4 .sectionContent > div {
      width: 100%;
      padding: 0px 20px;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      #section4 .sectionContent > div #slides {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        max-width: 900px; }
        #section4 .sectionContent > div #slides .fp-tableCell {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; }
        #section4 .sectionContent > div #slides .slide {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          max-width: 400px;
          width: 20%; }
          #section4 .sectionContent > div #slides .slide .categoria {
            width: 50%; }
            @media screen and (min-width: 600px) {
              #section4 .sectionContent > div #slides .slide .categoria {
                width: 85%;
                margin-bottom: 20px; } }
          #section4 .sectionContent > div #slides .slide h3 {
            width: 85%;
            margin-top: 1rem; }
          #section4 .sectionContent > div #slides .slide p {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 20px;
            width: 85%;
            text-align: center;
            margin: 1rem 0rem; }

#section5 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1A1C40;
  border-bottom: 1px solid silver;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  padding-top: 52px;
  position: relative;
  width: 100vw; }
  @media screen and (min-width: 600px) {
    #section5 {
      min-height: inherit;
      height: 600px; } }
  #section5 .sectionContent {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    #section5 .sectionContent > .encabezado > h2 {
      color: white;
      font-size: 3rem; }
    #section5 .sectionContent > .encabezado > p {
      color: white;
      font-size: 1.5rem; }
    #section5 .sectionContent > #lineChart {
      width: 90%;
      height: 50%; }
      @media screen and (min-width: 768px) {
        #section5 .sectionContent > #lineChart {
          height: 70%; } }
      #section5 .sectionContent > #lineChart #lineChartGraph {
        fill: none;
        stroke: url(#image);
        stroke-linejoin: round;
        stroke-width: 2; }
        @media screen and (min-width: 768px) {
          #section5 .sectionContent > #lineChart #lineChartGraph {
            stroke-width: 5; } }
      #section5 .sectionContent > #lineChart #yAxis path, #section5 .sectionContent > #lineChart #yAxis line {
        stroke: none; }
      #section5 .sectionContent > #lineChart #yAxis text {
        fill: rgba(255, 255, 255, 0.25); }
      #section5 .sectionContent > #lineChart #xAxisLine1 path, #section5 .sectionContent > #lineChart #xAxisLine1 line {
        stroke: rgba(255, 255, 255, 0.1); }
      #section5 .sectionContent > #lineChart #xAxisLine1 text {
        fill: rgba(255, 255, 255, 0.25); }
      #section5 .sectionContent > #lineChart #xAxisLine2 path, #section5 .sectionContent > #lineChart #xAxisLine2 line {
        stroke: none; }
      #section5 .sectionContent > #lineChart #xAxisLine2 text {
        fill: rgba(255, 255, 255, 0.75); }
      #section5 .sectionContent > #lineChart .yIndex {
        -webkit-transform: translate(20px, 10px);
            -ms-transform: translate(20px, 10px);
                transform: translate(20px, 10px); }

h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  color: #4d4d4d;
  font-weight: 600; }

h3 {
  text-align: center;
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
  color: #4d4d4d;
  font-weight: 600; }

#medidor {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%; }

.protection-icon {
  width: 7rem;
  height: 7rem; }

.svgStroke {
  fill: none;
  stroke: gray;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.svgFill {
  fill: gray;
  stroke: none; }

.iconos-derecha {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  min-width: 125px;
  max-width: 150px;
  width: 15%; }

.iconos-izquierda {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  min-width: 125px;
  max-width: 150px;
  width: 15%; }

#medidor .staticMeasure {
  fill: rgba(0, 0, 0, 0.1); }

#medidor #dynamic {
  fill: white; }

#medidor .measureText {
  text-anchor: middle;
  alignment-baseline: middle;
  fill: rgba(0, 0, 0, 0.1);
  font-size: 14rem; }

#medidor .measureMinMax {
  text-anchor: middle;
  alignment-baseline: end;
  fill: white;
  font-size: 1.5rem; }

#medidor #state {
  text-anchor: middle;
  alignment-baseline: end;
  fill: white;
  font-size: 3rem;
  font-weight: 200; }

#medidor #lvlRadiation {
  text-anchor: middle;
  alignment-baseline: end;
  fill: white;
  font-size: 3rem;
  font-weight: 800; }

#tooltip > .toolRect {
  width: 100px;
  height: 30px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  rx: 10px;
  ry: 10px; }

#tooltip > .toolText {
  text-anchor: middle;
  alignment-baseline: middle;
  fill: white; }

#tooltip > .toolCircle {
  fill: none;
  r: 8;
  stroke-width: 4;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px); }

.voronoi path {
  fill: none;
  pointer-events: all; }

.hide {
  display: none; }
