@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

// Estate Colors
$low: rgba(2, 213, 122, 1);
$moderate: rgba(255, 187, 66, 1);
$high: rgba(241, 133, 75, 1);
$veryHigh: rgba(242, 56, 90, 1);
$danger: rgba(85, 50, 133, 1);

// Text
$color-font: rgba(77, 77, 77, 1);
$white-font: rgba(255, 255, 255, 1);
$black-font: rgba(0, 0, 0, 1);

// Queries
$query1: 600px;
$query2: 768px;
$query3: 1280px;
$query4: 1600px;

$celeste: rgba(39, 180, 245, 1);
$navHeight: 52px;
$medida: 2rem;
$coeficiente: 1.17241379;

// General
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}
button {
  outline: none;
}

.space-around {
  display: flex;
  justify-content: space-around;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-h {
  display: flex;
  justify-content: center;
}
.center-v {
  display: flex;
  align-items: center;
}

.flow {
  display: flex;
  flex-flow: row;
}
.column {
  display: flex;
  flex-flow: column;
}

.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100%;
}





// Barra de Navegación
#navBar {
  background-color: white;
  box-shadow: 0px 0px 5px silver;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: $navHeight;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px 20px;
  position: fixed;
  width: 100vw;
  z-index: 1000;

  & > div {
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media screen and (min-width: $query1) {
      justify-content: space-between;
    }

    & > #gobAr {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 150px;

      & > img {
        width: 100%;
      }
    }
    & > #acercaDe {
      display: none;

      @media screen and (min-width: $query1) {
        display: block;
        border-radius: 10px;
        color: #0094D4;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 10px;
        position: relative;
        right: -10px;
        text-decoration: none;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// Contenedor de seccion
.sectionContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 100%;
  width: 100%;
}

// Encabezados de cada sección
.encabezado {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 10px;
  width: 100%;
  z-index: 50;

  @media screen and (min-width: $query1) {
    padding: 0px 20px;
    margin: 0px 0px 40px 0px;
  }

  & > h2 {
    color: $color-font;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
    margin: auto;
    max-width: 900px;
    padding: 0px;
    width: 100%;

    @media screen and (min-width: $query1) {
      font-size: 3rem;
    }
    @media screen and (min-width: $query2) {
      font-size: 3.5rem;
    }
  }
  & > p {
    color: $color-font;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    margin: auto;
    max-width: 900px;
    padding: 0px;
    width: 100%;
    line-height: 20px;

    @media screen and (min-width: $query1) {
      font-size: 1.5rem;
      padding: 10px 0px 0px 0px;
      line-height: 36px;
    }
    @media screen and (min-width: $query2) {
      font-size: 2rem;
    }
  }
}
#section1 .encabezado.dia {
  padding: 10px 10px;
  margin: 0px;

  @media screen and (min-width: $query1) {
    background-color: transparent;
    box-shadow: none;
    padding: 0px 20px;
    margin: 0px 0px 20px 0px;
  }

  h2 {

    @media screen and (min-width: $query1) {
      color: #009DDB;
      font-size: 50px;
    }
  }
  p {
    @media screen and (min-width: $query1) {
      padding: 0px;
    }
  }
}
#section1 .encabezado.noche {
  background-color: rgba(255, 255, 255, 1);
  // box-shadow: 0px 0px 5px silver;
  padding: 10px 10px;
  margin: 0px;

  @media screen and (min-width: $query1) {
    background-color: transparent;
    box-shadow: none;
    padding: 0px 20px;
    margin: 0px 0px 20px 0px;
  }

  h2 {

    @media screen and (min-width: $query1) {
      color: rgba(77, 77, 77, 1);
      font-size: 50px;
    }
  }
  p {
    color: rgba(77, 77, 77, 1);

    @media screen and (min-width: $query1) {
      padding: 0px;
    }
  }
}
#section3 .encabezado {
  padding: 0px 20px;

  @media screen and (min-width: $query1) {
    margin: 0px 0px 80px 0px;
  }
  & > p {
    padding: 30px 0px;

    @media screen and (min-width: $query1) {
      padding: 30px 0px 0px 0px;
    }
  }
}

// Seccion 1
#section1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: $navHeight 0px 0px 0px;
  max-height: 900px;

  .sectionContent {

    #radiationContent {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 100%;
      width: 100%;
      z-index: 100;

      @media screen and (min-width: $query1) {
        max-height: 500px;
      }

      #sectionIzq {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;

        @media screen and (min-width: 600px){
          border-radius: 10px;
          max-width: 350px;
          width: 45%;
        }

        & > header {
          align-items: center;
          border-bottom: 1px solid white;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 10px 0px;
          width: 100%;

          // #ubication {
          //   color: $white-font;
          //   font-weight: 400;
          //   font-size: 1.2rem;
          //   text-align: center;
          //   width: 100%;
          //
          //   @media screen and (min-width: $query2) {
          //     font-size: 1.5rem;
          //   }
          // }
          #time {
            // border-left: 1px solid white;
            border-right: 1px solid white;
            box-sizing: border-box;
            color: $white-font;
            font-size: 1.2rem;
            font-weight: 100;
            text-align: center;
            width: 100%;
            // max-width: 90px;

            @media screen and (min-width: $query2) {
              font-size: 1.5rem;
            }
          }
          #weather {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            text-align: center;
            width: 100%;
            // max-width: 90px;

            #temp-weather {
              color: $white-font;
              font-weight: 100;
              font-size: 1.2rem;
              align-items: center;

              @media screen and (min-width: $query2) {
                font-size: 1.5rem;
              }
            }
            #icon-weather {
              background-image: url('../../img/clima.png');
              background-size: cover;
              height: $medida;
              margin-right: 5px;
              width: $medida * $coeficiente;
            }
            .soleado {
              background-position: (($medida * $coeficiente) * 0) 0rem;
            }
            .noche {
              background-position: (($medida * $coeficiente) * 1) 0rem;
            }
            .tormenta {
              background-position: (($medida * $coeficiente) * 2) 0rem;
            }
            .lluvia {
              background-position: (($medida * $coeficiente) * 3) 0rem;
            }
            .inestable {
              background-position: (($medida * $coeficiente) * 4) 0rem;
            }
            .nublado {
              background-position: (($medida * $coeficiente) * 5) 0rem;
            }
            .parcialmente-nublado {
              background-position: (($medida * $coeficiente) * 6) 0rem;
            }
          }
        }
        #radiationUv {
          box-sizing: border-box;
          padding: 0px 20px;
          width: 100%;
          // height: 100%;
          max-width: 400px;
          // max-height: 60%;
        }
        #containerRecom {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          // font-size: 2rem;
          justify-content: center;
          align-items: center;
          padding: 0px 20px;
          width: 100%;

          #recomendation {
            color: $white-font;
            font-size: 1.4rem;
            text-align: center;
            height: 38px;

            @media screen and (min-width: $query2) {
              font-size: 1.6rem;
            }
          }
        }
        #containerUpdate {
          align-items: center;
          border-top: 1px solid white;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 10px;
          width: 100%;

          & > i {
            color: $white-font;
            font-size: 2rem;
            margin-right: 1rem;
          }
          #actualizacion {
            color: $white-font;
            font-size: 1.2rem;
            font-weight: 300;
            text-align: center;
          }
        }
      }
      #sectionDer {

        @media screen and (min-width: $query1) {
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          max-width: 350px;
          padding-left: 2rem;
          height: 100%;
          width: 45%;
        }
      }
    }
  }
}
// Seccion 2
#section2 {
  align-items: center;
  border-bottom: 1px solid silver;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100vh;
  justify-content: center;
  padding: 0px;
  padding-top: $navHeight;
  position: relative;
  width: 100vw;

  @media screen and (min-width: $query1) {
    display: none;
    min-height: inherit;
    height: 600px;
    max-height: 800px;
  }


}
// Seccion 3
#section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid silver;
  box-sizing: border-box;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  padding-top: $navHeight;
  background-color: white;

  @media screen and (min-width: $query1) {
    max-height: 900px;
  }

  .sectionContent {
    display: flex;
    justify-content: center;
    align-items: center;

    #testimonios {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      max-width: 900px;
      padding: 0px;
      margin: 0px 20px;
      width: 100%;

      @media screen and (min-width: $query1) {
        flex-direction: row;
        align-items: flex-start;
      }

      & > div {
        width: 100%;
        max-width: 250px;

        & > cite {
          color: #0094D4;
          font-size: 2.4rem;
          font-weight: 300;
        }
        & > p {
          color: $black-font;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 20px;
        }
      }
    }
  }
}
// Seccion 4
#section4 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  padding: 0px;
  padding-top: $navHeight;
  position: relative;
  width: 100vw;
  overflow: hidden;

  @media screen and (min-width: $query1) {
    max-height: 900px;
  }

  .sectionContent {
    justify-content: center;

    & > .encabezado {
      margin-bottom: 80px;
    }

    & > div {
      width: 500vw;
      padding: 0px 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      @media screen and (min-width: $query1) {
        width: 100%;
      }

      #slides {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;

        @media screen and (min-width: $query1) {
          max-width: 900px;
        }

        .fp-tableCell {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .slide {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          max-width: 400px;
          width: 20%;

          .categoria {
            width: 50%;

            @media screen and (min-width: $query1) {
              width: 85%;
              margin-bottom: 20px;
            }
          }
          h3 {
            width: 85%;
            margin-top: 1rem;
          }
          p {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 20px;
            width: 85%;
            text-align: center;
            margin: 1rem 0rem;
          }
        }
      }
    }
  }
}

// Seccion 5
#section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  height: 100vh;
  padding: 0px;
  padding-top: $navHeight;
  position: relative;
  width: 100vw;

  @media screen and (min-width: $query1) {
    max-height: 900px;
  }

  .sectionContent {
    background-color: #1A1C40;
    justify-content: center;

    & > .encabezado {
      margin: 0px;
      & > h2 {
        color: $white-font;
      }
      & > p {
        color: $white-font;
      }
    }
  }
}

// Encabezados
h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  color: $color-font;
  font-weight: 600;
}
h3 {
  text-align: center;
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
  color: $color-font;
  font-weight: 600;
}

#medidor {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

// Protection UV Icons
.protection-icon {
  width: 7rem;
  height: 7rem;
}
.svgStroke {
  fill: none;
  stroke: gray;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.svgFill {
  fill: gray;
  stroke: none;
}

// Medidor
#medidor {
  .staticMeasure {
    fill: rgba(0, 0, 0, 0.1);
  }
  #dynamic {
    fill: white;
  }
  .measureText {
    text-anchor: middle;
    alignment-baseline: middle;
    fill: rgba(0, 0, 0, 0.1);
    font-size: 14rem;
  }
  .measureMinMax {
    text-anchor: middle;
    alignment-baseline: end;
    fill: white;
    font-size: 1.5rem;
  }
  #state {
    text-anchor: middle;
    alignment-baseline: end;
    fill: white;
    font-size: 3rem;
    font-weight: 200;
  }
  #lvlRadiation {
    text-anchor: middle;
    alignment-baseline: end;
    fill: white;
    font-size: 3rem;
    font-weight: 800;
  }
}

// Tooltip
#tooltip {

  & > .toolRect {
    width: 120px;
    height: 30px;
    transform: translate(-50%, -50%);
    rx: 10px;
    ry: 10px;
  }
  & > .toolText {
    text-anchor: middle;
    alignment-baseline: middle;
    fill: white;
    font-size: 1.4rem;
  }
  & > .toolCircle {
    fill: none;
    r: 8;
    stroke-width: 2;
    stroke: white;
    transform: translateY(30px);
  }
}

// Voronoi
.voronoi path {
  fill: none;
  // stroke: #5D5D5D;
  pointer-events: all;
}

// Hide
.hide {
  display: none;
}
.transparent {
  color: transparent;
}

#left {
  margin: 0px;
  padding: 0px;
  width: 56px;
  height: 60px;
  left: 0px;
  transform: rotate(180deg);
  position: absolute;
  z-index: 20;
  display: none;
}

#right {
  margin: 0px;
  padding: 0px;
  width: 56px;
  height: 60px;
  right: 0px;
  position: absolute;
  z-index: 20;
}

// Protecciones
#contenedorProtecciones {
  background-color: white;
  border-radius: 0px;
  margin: 0px;
  height: 70%;
  box-sizing: border-box;


  @media screen and (min-width: $query1) {
    border-radius: 10px;
    padding: 0px 10px;
  }

  header h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-font;
    text-transform: uppercase;
    margin: 20px 0px 0px 0px;
  }

  & > a {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #0094D4;
    text-decoration: none;
    margin: 0px 0px 10px 0px;
  }
}
#protections {
  max-height: 230px;

  div {

    &:nth-child(2) {

      & > div > span {
        border-left: 1px solid silver;
        border-right: 1px solid silver;
      }
    }
    .recomendacion {
      font-size: 1.4rem;
      line-height: 18px;
      color: silver;
      padding: 0px 1rem;
      text-align: center;
      height: 54px;

      @media screen and (min-width: $query1) {
        height: inherit;
      }
    }
  }
}

// Contenedor con referencias
#contenedorReferencias {
  background-color: white;
  border-radius: 0px;
  margin: 0px;
  height: 30%;
  box-sizing: border-box;
  border-bottom: 1px solid silver;

  @media screen and (min-width: $query1) {
    border-radius: 10px;
    margin: 2rem 0px 0px 0px;
    padding: 0px 10px;
    border: 0px;
  }

  header h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-font;
    text-transform: uppercase;
    margin: 20px 0px 0px 0px;
  }
}
.referencia {
  width: 20%;
}
.refColor {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.refBajo {
  background-color: rgba(2, 213, 122, 1);
}
.refMod {
  background-color: rgba(255, 187, 66, 1);
}
.refAlto {
  background-color: rgba(255, 129, 64, 1);
}
.refMAlto {
  background-color: rgba(242, 56, 90, 1);
}
.refExt {
  background-color: rgba(85, 50, 133, 1);
}
.refTexto {
  color: silver;
  font-size: 1.2rem;
}
.colaboradores {
  width: 100%;
  padding: 10px 0px;

  span {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: right;
  }
  img {
    height: 20px;
    margin-left: 10px;
  }
}

// Botones de las ubicaciones en donde se miden radiación UV
#ubicaciones .botonUbicacion {
  padding: 5px 15px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid rgba(179, 179, 179, 1);
  color: rgba(179, 179, 179, 1);
  text-transform: uppercase;
  margin: 5px 0px 5px 0px;
  cursor: pointer;

  @media screen and (min-width: $query1) {
    margin: 0px 0px 20px 0px;
  }

  &:hover {
    background: rgba(179, 179, 179, 1);
    color: white;
  }
}
#ubicaciones .botonActivo {
  background: rgba(179, 179, 179, 1);
  color: white;
}

@media screen and (min-width: $query1) {
  #ubicaciones.ubicacionDia {
    .botonUbicacion {
      border: 1px solid #009DDB;
      color: #009DDB;

      &:hover {
        background-color: #009DDB;
        color: white;
      }
    }
    .botonActivo {
      background-color: #009DDB;
      color: white;
    }
  }
  #ubicaciones.ubicacionNoche{
    .botonUbicacion {
      border: 1px solid rgba(77, 77, 77, 1);
      color: rgba(77, 77, 77, 1);

      &:hover {
        background-color: rgba(77, 77, 77, 1);
        color: white;
      }
    }
    .botonActivo {
      background-color: rgba(77, 77, 77, 1);
      color: white;
    }
  }
}

#caba {}
#ushuaia {
  margin: 0px 5px 0px 5px;
}
#resistencia {}

// Imagenes de Fondo para representar Día/Noche
.iconos-derecha,
.iconos-izquierda {
  display: none;
  width: 0px;
  height: 0px;
}

@media screen and (min-width: $query1) {
  .fondoDia {
    background-image: url('../../img/fondo_dia_1.png');
    background-position: center;
    background-size: cover;
  }
  .footerDia {
    background-image: url('../../img/fondo_dia_2.png');
    background-position: center;
    background-size: cover;
  }
  .fondoNoche {
    background-image: url('../../img/fondo_noche_1.png');
    background-position: center;
    background-size: cover;
  }
  .footerNoche {
    background-image: url('../../img/fondo_noche_2.png');
    background-position: center;
    background-size: cover;
  }
  .iconos-derecha {
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 10;
    transform: translateY(-50%);
    min-width: 125px;
    max-width: 150px;
    width: 15%;
  }
  .iconos-izquierda {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 10;
    transform: translateY(-50%);
    min-width: 125px;
    max-width: 150px;
    width: 15%;
  }
}

// Grafico de linea
#lineChart {
  width: 100%;
  height: 70%;

  #lineChartGraph {
    fill: none;
    stroke-linejoin: round;
    stroke-width: 3;

    @media screen and (min-width: 768px){
      stroke-width: 4;
    }
  }
  #yAxis {

    path, line {
      stroke: none;
    }
    text {
      fill: rgba(255, 255, 255, 0.25);
    }
  }
  #xAxisLine1 {

    path, line {
      stroke: rgba(255, 255, 255, 0.1);
    }
    text {
      fill: rgba(255, 255, 255, 0.25);
    }
  }
  #xAxisLine2 {

    path, line {
      stroke: none;
    }
    text {
      fill: rgba(255, 255, 255, 0.75);
    }
  }
  .xIndex {
    // transform: translateY(100%);
  }
  .yIndex {
    transform: translate(5px, 10px);
  }
}

// Grafico Medidor
#svgMedidor {
  width: 100%;
  height: 100%;
}
#medidorCircle {
  text-anchor: middle;
  alignment-baseline: middle;
}
