@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

// Estate Colors
$low: rgba(66, 190, 92, 1);
$moderate: rgba(233, 184, 66, 1);
$high: rgba(241, 133, 75, 1);
$veryHigh: rgba(242, 56, 90, 1);
$danger: rgba(85, 50, 133, 1);

$stateColor: ($low, $moderate, $high, $veryHigh, $danger);

// Text
$text: rgba(77, 77, 77, 1);
$whiteText: rgba(255, 255, 255, 1);
$blackText: rgba(0, 0, 0, 1);

// General
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;

  // Tablet 768x1024px
  @media screen and (min-width: 768px){
    font-size: 10px;
  }
  // Laptop 1280x802px
  @media screen and (min-width: 1280px){
    font-size: 10px;
  }
  // Desktop 1600x992px
  @media screen and (min-width: 1600px){
    font-size: 10px;
  }
}

// Barra de Navegación
#navBar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
  box-shadow: 0px 0px 5px silver;

  & > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 0px;
    margin: 0px;
    position: relative;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;

    #gobAr {
      width: 150px;
    }
    #acercaDe {
      font-size: 1.5rem;
      font-weight: 400;
      text-decoration: none;
      color: #0094D4;
      padding: 10px;
      right: -10px;
      position: relative;
      border-radius: 10px;

      &:hover {
        background: rgba(0,0,0,0.1);
      }
    }
  }
}

// Encabezados
h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0px;
  padding: 0px;
  color: $text;
  font-weight: 600;

  @media screen and (min-width: 768px){
    font-size: 4rem;
  }
}
h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  color: $text;
  font-weight: 600;
}
h3 {
  text-align: center;
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
  color: $text;
  font-weight: 600;
}

// Ajustes de Full Page
#fullpage {

  .fp-tableCell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 0px 20px;
  }
  .sectionContent {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
}

// Secciones
#section1 {
  background-image: url('../../public/img/backgroundWeb.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  max-height: 800px;
  padding-top: 58px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;

  .encabezado {
    & > h1 {
      color: #009DDB;
    }
    & > p {
      color: $blackText;
    }
  }

  & > .sectionContent {

    & > #radiationContent {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      position: relative;
      height: 100%;
      max-height: 500px;

      & > #sectionIzq {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 100%;

        @media screen and (min-width: 768px){
          width: 100%;
          max-width: 350px;
          border-radius: 10px;
        }

        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid white;
          padding: 10px 0px;
          flex-direction: row;
          box-sizing: border-box;
          top: 0px;

          & > #ubication {
            color: $whiteText;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: center;
            width: 50%;
          }
          & > #time {
            color: $whiteText;
            font-weight: 100;
            font-size: 1.5rem;
            text-align: center;
            width: 50%;
            border-right: 1px solid white;
            box-sizing: border-box;
            border-left: 1px solid white;
          }
          & > #weather {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 50%;
            text-align: center;

            $medida: 2rem;
            $coeficiente: 1.17241379;

            & > #temp-weather {
              color: $whiteText;
              font-weight: 100;
              font-size: 1.5rem;
            }
            & > #icon-weather {
              width: $medida * $coeficiente;
              height: $medida;
              background-image: url('../../public/img/clima.png');
              background-size: cover;
              margin-right: 5px;
            }
            & > .soleado {
              background-position: (($medida * $coeficiente) * 0) 0rem;
            }
            & > .noche {
              background-position: (($medida * $coeficiente) * 1) 0rem;
            }
            & > .tormenta {
              background-position: (($medida * $coeficiente) * 2) 0rem;
            }
            & > .lluvia {
              background-position: (($medida * $coeficiente) * 3) 0rem;
            }
            & > .inestable {
              background-position: (($medida * $coeficiente) * 4) 0rem;
            }
            & > .nublado {
              background-position: (($medida * $coeficiente) * 5) 0rem;
            }
            & > .parcialmente-nublado {
              background-position: (($medida * $coeficiente) * 6) 0rem;
            }
          }
        }
        & > #radiationUv {
          padding: 20px 20px 0px 20px;
          box-sizing: border-box;
        }
        & > article {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          font-size: 2rem;
          width: 100%;

          & > i {
            color: $whiteText;
            font-size: 1rem;
            margin-right: 1rem;
          }
        }
        & > article:nth-child(3) {
          box-sizing: border-box;
          padding: 20px;

          & > #recomendation {
            color: white;
            font-size: 1.6rem;
            line-height: 18px;
            text-align: center;
          }
        }
        & > article:nth-child(4) {
          bottom: 0px;
          padding: 10px 20px;
          box-sizing: border-box;
          border-top: 1px solid white;

          & > i {
            font-size: 2rem;
          }

          & > #actualizacion {
            color: $whiteText;
            font-size: 1.25rem;
            font-weight: 300;
            text-align: center;
          }
        }
      }
      & > #sectionDer {
        height: 100%;
        width: 40%;
        max-width: 350px;
        padding-left: 2rem;

        & > section {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          position: relative;
          width: 100%;

          & > header {
            width: 100%;

            & > h2 {
              padding: 10px 0px;
              font-weight: 400;
              font-size: 2rem;
            }
          }
          &:nth-child(1) {
            height: 35%;
            background-color: silver;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 1);
            margin-bottom: 1rem;
            justify-content: space-between;
            padding: 0px 20px;
            box-sizing: border-box;

            & > section {
              width: 100%;
              display: flex;
              // justify-content: space-around;
              align-items: center;
              flex-direction: column;

              & > article {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                width: 100%;

                & > i {
                  font-size: 3rem;
                }
              }
            }
          }
          &:nth-child(2) {
            height: 65%;
            margin-top: 1rem;
            background-color: silver;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 1);
            justify-content: space-between;
            padding: 10px 5px 20px 5px;
            box-sizing: border-box;

            & > section {
              display: flex;
              justify-content: space-around;
              align-items: center;
              flex-direction: row;
              width: 100%;
              height: 100%;
              max-height: 250px;

              & > div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;

                &:nth-child(2) {

                  & > article > span {
                    border-left: 1px solid silver;
                    border-right: 1px solid silver;
                  }
                }

                & > article {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                }
              }
            }
          }
        }
      }
    }
  }
}
#section2 .sectionContent {

  & > section {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 90%;

    & > header {
      width: 100%;

      & > h2 {
        text-align: center;
        font-size: 2rem;
      }
    }

    &:nth-child(1) {
      height: 40%;
      border-bottom: 1px solid silver;

      & > section {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        & > article {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;

          &:nth-child(2) {
            border-left: 1px solid silver;
            border-right: 1px solid silver;
          }

          & > i {
            font-size: 3rem;
          }
        }
      }
    }

    &:nth-child(2) {
      height: 60%;
      border-bottom: 1px solid silver;

      & > section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 100%;

        & > div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 100%;

          &:nth-child(2) {
            border-left: 1px solid silver;
            border-right: 1px solid silver;
          }

          & > article {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        }
      }
    }

  }
}
#section3 {
  padding-top: 58px;
  height: 600px;

  .encabezado {

    & > h2,
    & > p {
      color: $blackText;
    }
    & > p {
      line-height: 2;
    }
  }
  & > .sectionContent {
    border-bottom: 1px solid silver;
    justify-content: space-around;

    #testimonios {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: row;
      width: 100%;
      max-width: 900px;
      padding: 0px 20px;
      box-sizing: border-box;

      & > article {
        width: 100%;
        max-width: 250px;

        & > cite {
          color: #97DAF8;
          font-size: 2.5rem;

        }
        & > p {
          color: $blackText;
          font-size: 1.5rem;
          font-weight: 300;
        }
      }
    }
  }
}
#section4 {
  width: 100vw;
  height: 600px;
  padding: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;

  .encabezado {

    h2 {
      color: $blackText;
    }
  }

  & > .sectionContent {
    justify-content: space-around;

    & > section {
      width: 100%;
      padding: 0px 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      #slides {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
        max-width: 900px;

        .fp-tableCell {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .slide {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          max-width: 400px;
          width: 20%;

          .categoria {
            width: 50%;

            @media screen and (min-width: 768px){
              width: 85%;
            }
          }
          h3 {
            width: 85%;
            margin-top: 1rem;
          }
          p {
            width: 85%;
            font-size: 1.25rem;
            text-align: center;
            margin: 1rem 0rem;
          }
        }
      }
    }
  }
}
#section5 {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  position: relative;
  box-sizing: border-box;
  background-color: #1A1C40;

  @media screen and (min-width: 768px){
    height: 600px;
  }

  & > .sectionContent {

    & > #lineChart { // Line Chart
      width: 90%;
      height: 50%;

      @media screen and (min-width: 768px){
        height: 70%;
      }

      #lineChartGraph {
        fill: none;
        stroke: url(#image);
        stroke-linejoin: round;
        stroke-width: 2;

        @media screen and (min-width: 768px){
          stroke-width: 5;
        }
      }
      #yAxis {

        path, line {
          stroke: none;
        }
        text {
          fill: rgba(255, 255, 255, 0.25);
        }
      }
      #xAxisLine1 {

        path, line {
          stroke: rgba(255, 255, 255, 0.1);
        }
        text {
          fill: rgba(255, 255, 255, 0.25);
        }
      }
      #xAxisLine2 {

        path, line {
          stroke: none;
        }
        text {
          fill: rgba(255, 255, 255, 0.75);
        }
      }
    }
  }
}



#medidor {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


// Section_1 ID







// Protection UV Icons
.recomendacion {
  font-size: 1rem;
  color: silver;
  padding: 0px 1rem;
  text-align: center;

  @media screen and (min-width: 768px){
    font-size: 1.4rem;
    line-height: 18px;
  }
}
.protection-icon {
  width: 7rem;
  height: 7rem;
}
.svgStroke {
  fill: none;
  stroke: gray;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.svgFill {
  fill: gray;
  stroke: none;
}


// Forecast
#forecast {
  height: 100%;
  justify-content: space-between;
  padding: 10px 0px 20px 0px;

  .pronostico_barra {
    width: 100%;
    padding: 0px 10px;
  }

  .pronostico_horario {
    font-size: 1.5rem;
    color: $blackText;
  }

  .pronostico_estado {
    font-size: 1.5rem;
    color: $blackText;
    width: 150px;
    text-align: center;
  }
}

// Encabezado Sección
.encabezado {
  padding: 0px 20px;
  margin-bottom: 40px;

  & > h1,
  & > h2 {
    width: 100%;
    max-width: 900px;
    margin: 0px;
    color: $whiteText;
    text-align: center;
  }
  & > p {
    width: 100%;
    max-width: 900px;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    color: $whiteText;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;

  }
}
